.ck-editor__editable {
    min-height: 400px;
    max-height: 700px;
    overflow-y: scroll;
}

a:link {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
}

td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h1, h2, h3, h4, h5, h6 {
    word-break: break-all;
}

.study-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}

.board-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}

.push-read {
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
}