<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="order-0">
            <a class="navbar-brand" th:href="@{/}">WITH STUDY</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-1 dual-collapse2">
            <ul id="ullist" class="navbar-nav mr-auto">
                <li class="nav-item" th:if="${session?.user != null}">
                    <a class="nav-link" th:href="@{/study/mine}">내 스터디</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/study}">스터디 목록</a>
                </li>
<!--                <li class="nav-item" th:if="${session.user != null}">-->
<!--                    <a class="nav-link" th:href="@{/study/new}">스터디 만들기</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board}">광장</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" th:if="${session?.user == null}">로그인</a>
                </li>
                <li class="nav-item my-auto mx-1" th:if="${session.user != null}" style="transform: rotate(0);">
                    <img class="rounded-circle" th:width="32" th:height="32" th:src="${session.user?.getPicture()}">
                    <a class="nav-link stretched-link" style="display: inline;"
                       th:href="@{'/user/' + ${session.user?.getUid()}}"
                       th:text="${session.user?.getName()}">
                    </a>
                </li>
                <!-- 알림 -->
                <li class="nav-item my-auto" th:if="${session.user != null}">
                    <div class="dropdown">
                        <a id="pushBtn" class="btn p-0" data-toggle="dropdown" aria-expanded="false">
                            <svg class="bi bi-bell-fill" width="1.3em" height="1.2em" viewBox="0 0 16 16"
                                 fill="rgba(255, 255, 255, 0.5)" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2zm.995-14.901a1 1 0 10-1.99 0A5.002 5.002 0 003 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                            </svg>
                        </a>
                        <div id="pushList" class="dropdown-menu dropdown-menu-right p-0 overflow-auto" style="width: 400px; max-height: 400px;">
                        </div>
                    </div>
                </li>
                <li id="push_able" class="nav-item my-auto" th:if="${session.user != null}">
                    <a class="badge badge-info badge-pill p-1" id="push-count" th:text="${session?.pushCount}"></a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link" th:href="@{/user/logout}" th:if="${session.user != null}">로그아웃</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</th:block>