<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body style="min-height: 100%; background-image: url('img/study_main.jpg'); background-repeat: no-repeat; background-size: cover;">
<!-- nav include -->
<th:block th:include="fragments/nav"></th:block>

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-center">WITH STUDY</h1>
        <h1 class="text-center">학습을 공유하세요.</h1>
    </div>
</div>

<!-- footer include -->
<th:block th:include="fragments/footer"></th:block>
</body>
</html>